@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Oswald|Playfair+Display|Yesteryear');

* {
  margin: 0;
  padding: 0;
  transition: 0.1s;
}

body {
  margin: 0px;
  background-color: #fff;
  color: #2E2E2E;
  font-family: 'Playfair Display', serif;
}

/*Navbar*/
.logo {
  max-width: 250px;
}

@media (min-width: 992px) {
  .navbar {
      height: 70px;
  }
.navbar {
  font-size: 30px;
}

/*Video Background*/
video {
  object-fit: cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  position: fixed;
}


/*Course cards */

.container {
  /*max-width: 450px;*/
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  color: #1B1B36;
  padding: 5px;
  text-align: center;
  margin-top: 10%;
}

h3 {
  color: #e3e4e6;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}


.course-card {
  margin: 0 auto;
}
  @media only screen and (max-width:620px) {
    .course-card {
      margin: 0 auto;
    }
    .photo1, .photo4, .photo2, .photo3 {
      width: 100%;
    }
  }

  .photo1, .photo4, .photo2, .photo3 {
    background-position: center;
    height: 200px;
    min-height:100px;
    background-repeat: no-repeat;
    background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;

  }
  .course-card .photo1 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/gd.png");
  }
  .course-card .photo2 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/paint.png");

  }
  .course-card .photo3 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/hl.png");

  }
  .course-card .photo4 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/di.png");

  }
  .course-card .photo-active {
    background-size: 30.8em 16.5em;
    transition: 0.2s;
  }
  .course-card .course-details {
    margin-top: -5px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
  }
    .course-card .course-details h4,
    .course-card .course-details p {
      padding: 0.7em 1.25em;
    }
    .course-card .course-details div {
      display: flex;
    }
    .course-card .course-details .more-details-button {
      background-color: #535353;
      color: white;
      font-size: 20px;
      padding: .75em 1.25em;
      padding-left: 10px;
      cursor: pointer;
      width: 2em;
      transition: 0.9s;
    }
      .course-card .course-details .more-details-button img {
        color: #C317A2;
        position: relative;
        left: 0.1em;
      }
      .course-card .course-details .more-details-button .rotate {
        trancoursesition: 0.1s;
        transform: rotate(90deg);
      }
i{
  font-size: 30px;
}
      .course-card .details .active {
      background-color: #C3FF00;

    }
  .course-card .details {
    display: none;
    background-color: #535353;
    color: #EFEFEF;
  }
    .course-card .details .active {
      background-color: #C3FF00;
      color: #313131;
    }
  .course-card p {
    padding: 1em 1.25em;
  }


/*Gallery Page*/

.title h1 {
  font-size: 2rem;
  box-shadow: 5px 5px 28px grey;
  background-color: #fff;
  width: 20%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
}

.title h1:hover {
  font-size: 2.1rem;
  cursor: pointer;
}

.gallery-text p {
  box-shadow: 5px 5px 28px grey;
  width: 100%;
  text-align: left;
  padding: 30px;
  background-color: #fff;
  border-radius: 40px;
}

.gallery-text a {
  width: 90px;
  text-align: center;
  color: #fff;
  background-color: #2E2E2E;
  float: right;
  margin-top: 10px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 1.9px;
  box-shadow: 5px 5px 28px grey;
}

.gallery-text a:hover {
  background-color: #b8bad6;
  color: #2E2E2E;
  text-decoration: none;
  font-weight: bold;
}

.gallery {
  margin-left: 100px;
  max-width: 100%;
}

.gallery img {
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.gallery img:hover {
  box-shadow: 15px 5px 28px grey;
  cursor: pointer;
}
