@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR|Oswald|Playfair+Display|Yesteryear');

* {
  margin: 0;
  padding: 0;
  transition: 0.1s;
}

body {
  margin: 0px;
  background-color: #fff;
  color: #2E2E2E;
  font-family: 'Playfair Display', serif;
}

/*Navbar*/
.logo {
  max-width: 250px;
}

@media (min-width: 992px) {
  .navbar {
      height: 70px;
      font-size: 30px;
  }
}


/*Index page*/

/*Video Background*/
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.video-banner p {
  font-size: 1.5rem;
  position: relative;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 40%; right: 0; bottom: 0; left: 0;
  display: flex;
}

/*buttons*/
.main-page-btn a{
  color: #fff;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 20%;
  border: 3px solid #fff;
  background-color: transparent;
  padding: 10px;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-right: 30%;
  margin-top: 40px;
}

.main-page-btn a:hover {
  background-color: #2E2E2E;
  border-color: transparent;
  text-decoration: none;
}

.link-featured-courses {
  color: #2E2E2E;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 25%;
  border: 3px solid #b8bad6;
  background-color: transparent;
  padding: 10px;
  position: relative;
  display: block;
  text-align: center;
}

.link-featured-courses:hover {
  background-color: #b8bad6;
  border-color: transparent;
  color: #2E2E2E;
  text-decoration: none;
}

/*Featured courses on index*/
.index-featured-courses-img img:hover{
  box-shadow: 15px 5px 28px grey;
  cursor: pointer;
}

/*Course cards */

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.h1text {
  color: #1B1B36;
  padding: 5px;
  text-align: center;
  margin-top: 10%;
}

.h4text {
  text-transform: uppercase;
  text-align: center;
  padding: 5%;
}

.course-card {
  margin: 0 auto;
}

  .course-card .dark-sole-original,
  .course-card .photo1, .photo4,
  .course-card .photo2, .photo3 {
    background-size: 28em 15em;
    background-position: center;
    height: 14em;
    transition: 0.2s;
  }
  .course-card .photo1 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/gd.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .course-card .photo2 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/paint.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .course-card .photo3 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/hl.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .course-card .photo4 {
    background-image: url("https://res.cloudinary.com/erinkayb/image/upload/v1538558209/di.png");
    background-repeat: no-repeat;
    background-size: cover;

  }
  .course-card .photo-active {
    background-size: 30.8em 16.5em;
    transition: 0.2s;
  }
  .course-card .course-details {
    margin-top: -5px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
  }
    .course-card .course-details h4,
    .course-card .course-details p {
      padding: 0.7em 1.25em;
    }
    .course-card .course-details div {
      display: flex;
    }
    .course-card .course-details .more-details-button {
      background-color: #535353;
      color: white;
      font-size: 20px;
      padding: .75em 1.25em;
      padding-left: 10px;
      cursor: pointer;
      width: 2em;
      transition: 0.9s;
    }
      .course-card .course-details .more-details-button img {
        color: #C317A2;
        position: relative;
        left: 0.1em;
      }
      .course-card .course-details .more-details-button .rotate {
        trancoursesition: 0.1s;
        transform: rotate(90deg);
      }
.ifont{
  font-size: 30px;
}
  .course-card .details .active {
    background-color: #C3FF00;
    }
  .course-card .details {
    display: none;
    background-color: #535353;
    color: #EFEFEF;
  }
    .course-card .details .active {
      background-color: #C3FF00;
      color: #313131;
    }
  .course-card p {
    padding: 1em 1.25em;
  }

/*contact page*/
.jumbotron-1 {
  background-image: url('https://res.cloudinary.com/erinkayb/image/upload/v1538656503/paint2-b_rgb_fffdfd_e_blur_300_o_54.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron-2 {
  background-image: url('https://res.cloudinary.com/erinkayb/image/upload/v1538656311/brushes-e_fade_1000_o_78-e_blur_323.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/*Gallery Page*/

.title h1 {
  font-size: 2rem;
  box-shadow: 5px 5px 28px grey;
  background-color: #fff;
  width: 20%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
}

.title h1:hover {
  font-size: 2.1rem;
  cursor: pointer;
}

.gallery-text p {
  box-shadow: 5px 5px 28px grey;
  width: 100%;
  text-align: left;
  padding: 30px;
  background-color: #fff;
  border-radius: 40px;
}

.gallery-text a {
  width: 90px;
  text-align: center;
  color: #fff;
  background-color: #2E2E2E;
  float: right;
  margin-top: 10px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 1.9px;
  box-shadow: 5px 5px 28px grey;
}

.gallery-text a:hover {
  background-color: #b8bad6;
  color: #2E2E2E;
  text-decoration: none;
  font-weight: bold;
}

.gallery {
  margin-left: 100px;
  max-width: 100%;
}

.gallery img {
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.gallery img:hover {
  box-shadow: 15px 5px 28px grey;
  cursor: pointer;
}

/*About Page*/
.jumbotron-about {
  height: 400px;
  background-image: url('https://res.cloudinary.com/di7m4tijz/image/upload/v1538657309/banner_community_gx0scw.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.link-video {
  color: #2E2E2E;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 25%;
  border: 3px solid #fff;
  background-color: transparent;
  padding: 10px;
  position: relative;
  display: block;
  text-align: center;
}

.link-video:hover {
  background-color: #b8bad6;
  border-color: transparent;
  color: #2E2E2E;
  text-decoration: none;
}

#about-us {
  margin-top: 20px;
  padding: 40px;
}